.card.selected {
    background-color: lightgreen;
    color: white;
    border: 2px solid green;
  }
  
.conflict {
  border: 2px solid red;
}

.conflict-warning {
  color: red;
  font-weight: bold;
}
